@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>and stuff.</p>
</div>
<div>
    <h1>Find a Student</h1>
    <input id="txtSearch" />
    <button id="btnSearch">Search</button>
    <div id="output">

    </div>
</div>
